body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
}

h3{
    font-size: 18px;
    font-weight: 400;
}
.navbar{
    border-bottom: #1886C7 1px solid;
}
.navbar .navbar-brand{
    color:#1886C7;
    font-size: 24px;
}
.bg-dark{
    background-color: #151b1d !important;
    background: linear-gradient(#1886C7,#151b1d);
}
.nav-link{
    color: white !important;
    text-transform: uppercase;
    transition: color .5s ease;
}
.nav-link:hover{
    color: #1886C7 !important;
    border-bottom:  #1886C7 1px solid;
}
#headerSection{
    background: url("./images/backgr.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
.overlay{
    background-color: rgba(0,0,0,0.7);
}
#headerSection .row {
    height: 100vh;
}
#headerSection span {
    color: blue;
}
.btn-outline-primary{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

/* FEATURES SECTION */
#feature .fab, .fas {
    font-size: 40px;
}
.feature-top{
    transition: color .5s ease;
}
.feature-top:hover{
    color: #1886C7;
}
#nature{
    border-left: #1886C7 3px solid;
    padding-left: 30px;
    }
    #event{
        color: #1886C7;
    }
#winter{
    background-size: cover;
    height: 50vh; 
 }
 
 #nature .btn-outline-primary{
     position: absolute;
    }
#landscape .card{
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;

}
#landscape .card:hover{
    opacity: 1;
}
#landscape i{
    font-size: 24px;
}
#park{
    background: linear-gradient(
        rgba(0,0,0, .7),
        rgba(0,0,0, .7)
        ),
        url(./images/videoobg.jpg);
        background-attachment: fixed;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        }

    #park .row{
        height: 300px;
    }
#caseStudy{
    background-color: #f4f5f9;
    line-height: 28px;
    font-size: 18px;
}

.caseArea{
    background-color: #fff;
    margin-top:40px;
    margin-right:-40px;
    z-index: 100;
    padding: 40px;
    position: relative;
    min-height: 420px;
}
#caseStudy h3, i{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1886C7;
}
.caseImage{
    margin-left: -40px;
}

/* PORTFOLIO SECTION */
 #portfolio .col-md-3{
        padding-left: 0;
        padding-right:0;
        text-align: center;
 }
 #portfolio h4{
    font-size: 16px;
    font-weight: 300;
}
#portfolio .fas{
    font-size: 24px;
    color: white;
}
#portfolio p{
    font-size: 14px;
    font-weight: 300;
}
.imageContainer{
    position: relative;
    cursor: pointer;
}
.imageOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1886C7;
    opacity: 0;
    transition: 0.5s ease;

}
.imageContainer:hover .imageOverlay{
    opacity: .7;
}
.imageText{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CAROUSEL SECTION */
.carousel-control-prev-icon{
    width: 40px;
    height: 40px;
}
.carousel-control-next-icon{
    width: 40px;
    height: 40px;
}
#contact{
    background-color: #f4f5f9;
}
#contact h2,h4{
    color: #1886c7;
}
#mainFooter{
    color: white;
    background-color:#141b1c;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
#mainFooter p{
    margin-bottom: 0;
}